h1 {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

a:link {
    color: #FFF;
    background-color: #000080;
}

a:hover {
    color: #FFF;
    background-color: #0000cc;
}


a:link, a:visited {
    background-color: #000080;
    color: #ffffff;
    padding: 1px 3px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
  }

a:hover, a:active {
    background-color: #0000cc;
  }